@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-amandine);
}

h2 {
  font-family: var(--font-amandine);
  font-weight: 600;
}
p {
  font-family: fenwick, sans-serif;
  font-weight: 400;
}
